<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="TryAndTestConsole.Properties.Settings.MyUsefulToolsConnectionString"
      connectionString="Data Source=STONEBOWN55WIN8;Initial Catalog=MyUsefulTools;Persist Security Info=True;User ID=sa;Password=zhanglei"
      providerName="System.Data.SqlClient" />
    <add name="TryAndTestConsole.Properties.Settings.CnBetaNewsConnectionString"
      connectionString="Data Source=.;Initial Catalog=CnBetaNews;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TryAndTestConsole.Properties.Settings.Azure_LeoDataBase1ConnectionString"
      connectionString="Data Source=jtvll76hk0.database.windows.net,1433;Initial Catalog=LeoDataBase1;Persist Security Info=True;User ID=zl860628@jtvll76hk0;Encrypt=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <log4net>
    <!--定义输出到文件中-->
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <!--定义文件存放位置-->
      <file value="C:/leozhang/test/log4netfile2.txt"/>
      <appendToFile value="false"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd-HH:mm:ss"/>
      <layout type="log4net.Layout.PatternLayout">
        <!--每条日志末尾的文字说明-->
        <footer value="by 周公"/>
        <!--输出格式-->
        <conversionPattern value="%message%newline"/>
      </layout>
    </appender>
    <!--定义日志的输出媒介，下面定义日志以四种方式输出。也可以下面的按照一种类型或其他类型输出。-->
    <root>
      <!--文件形式记录日志-->
      <appender-ref ref="LogFileAppender"/>
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.88.0" newVersion="1.0.88.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.\;Initial Catalog=CnBetaNews;Integrated Security=True;"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
